In [309]:
import pandas as pd
import numpy as np
titanic = pd.read_csv("train.csv")
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [310]:
titanic_ = pd.DataFrame(titanic)
titanic_ = titanic_[pd.isnull(titanic_['Age'])]
titanic_.isnull().sum()
titanic_.shape

(177, 12)

In [311]:
titanic = titanic.dropna(subset=['Age'])
y = titanic["Survived"]
X = titanic.loc[:,["Sex", "Age", "SibSp", "Parch", "Fare"]]
class_mapping = {'male': 0, 'female': 1}
X['Sex'] = X['Sex'].map(class_mapping)
titanic.shape

(714, 12)

In [312]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X_std = scaler.transform(X)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=0.2, random_state=0)

from sklearn.ensemble import AdaBoostClassifier
tree_1 = AdaBoostClassifier()
tree_1.fit(X_train, y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [313]:
tree_1.score(X_train, y_train)

0.81786339754816118

In [314]:
tree_1.score(X_test, y_test)

0.79720279720279719

In [315]:
titanic_['Age'] = titanic_['Age'].fillna(50)
titanic_['Age']

5      50.0
17     50.0
19     50.0
26     50.0
28     50.0
29     50.0
31     50.0
32     50.0
36     50.0
42     50.0
45     50.0
46     50.0
47     50.0
48     50.0
55     50.0
64     50.0
65     50.0
76     50.0
77     50.0
82     50.0
87     50.0
95     50.0
101    50.0
107    50.0
109    50.0
121    50.0
126    50.0
128    50.0
140    50.0
154    50.0
       ...
718    50.0
727    50.0
732    50.0
738    50.0
739    50.0
740    50.0
760    50.0
766    50.0
768    50.0
773    50.0
776    50.0
778    50.0
783    50.0
790    50.0
792    50.0
793    50.0
815    50.0
825    50.0
826    50.0
828    50.0
832    50.0
837    50.0
839    50.0
846    50.0
849    50.0
859    50.0
863    50.0
868    50.0
878    50.0
888    50.0
Name: Age, Length: 177, dtype: float64

In [316]:
y_na = titanic_["Survived"].values.reshape(177,1)
X_na = titanic_.loc[:,["Sex", "Age", "SibSp", "Parch", "Fare"]]
class_mapping = {'male': 0, 'female': 1}
X_na['Sex'] = X_na['Sex'].map(class_mapping)
X_na
tree_1.score(X_na, y_na)

0.33333333333333331

In [317]:
test = pd.read_csv("test.csv")

In [294]:
test['Age'] = test['Age'].fillna(0)
test['Fare'] = test['Fare'].fillna(10.0)
X_test = test.loc[:,["Sex", "Age", "SibSp", "Parch", "Fare"]]
X_test['Sex'] = X_test['Sex'].map(class_mapping)
id_ = test.loc[:, "PassengerId"].values.reshape(418,1)
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [295]:
y_test = tree_1.predict(X_test).reshape(418,1)
y_out = np.concatenate((id_, y_test), axis=1)

In [296]:
df = pd.DataFrame(y_out, columns=['PassengerId', 'Survived'])
df.to_csv('titanic_submit.csv', index = False)